################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/dxlib/FileContentIndex
/dxlib/x64/Debug
/.vs/dxlib/v17
